In [1]:
%cd ..

import builtins
builtins.uclresearch_topic = 'GIVENCHY' # 226984 entires
# builtins.uclresearch_topic = 'HAWKING' # 4828104 entries
# builtins.uclresearch_topic = 'NYC'
# builtins.uclresearch_topic = 'FLORIDA'
from configuration import config

import smtplib
import base64
from email.mime.text import MIMEText
from email.header import Header
from email.mime.multipart import MIMEMultipart
from email.mime.image import MIMEImage
from email.utils import COMMASPACE
import numpy as np
import pandas as pd
import pickle
import xgboost as xgb
import os
import os.path
import math
import sys
import csv
import matplotlib.pyplot as plt
from sklearn.externals import joblib
import scipy.integrate as spi
import pylab as pl
import networkx as nx
from tqdm import tqdm
import multiprocessing
from multiprocessing import Pool
from IPython.display import display

/home/ec2-user/May

/home/ec2-user/miniconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/ec2-user/miniconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

('Reading config file from location: '
 '/home/ec2-user/May/configuration/env.properties')
{'calculate': {'analysis': True,
               'network': True,
               'uniquetweets': True,
               'uniqueusers': True},
 'data': {'dates': ['2018-03-11', '2018-03-12', '2018-03-13'],
          'eventname': "Givenchy's Death",
          'phrases': ['givenchy%20death', 'givenchy%20passed%20away'],
          'starttime': 'Mar 12 08:20:00 -0500 2018'},
 'path': {'crawl': {'followers': '/home/ec2-user/May/followers',
                    'friends': '/home/ec2-user/May/friends'},
          'cwd': '/home/ec2-user/May/data/givenchy',
          'ml': '/home/ec2-user/May/data/givenchy/pickle',
          'networkx': {'all': '/home/ec2-user/May/data/givenchy/pickle/networkx_all.dat',
                       'friends': '/home/ec2-user/May/data/givenchy/pickle/networkx_friends.dat',
                       'potential': '/home/ec2-user/May/data/givenchy/pickle/networkx_potential.dat'},
          'pickle': {'exposed_user_ids_selected': '/home/ec2-user/May/data/givenchy/pickle/exposed_user_ids_selected.dat',
                     'followers': '/home/ec2-user/May/data/givenchy/pickle/followers.dat',
                     'followersneedcrawl': '/home/ec2-user/May/data/givenchy/pickle/followersneedcrawl.dat',
                     'friends': '/home/ec2-user/May/data/givenchy/pickle/friends.dat',
                     'infected_user_ids': '/home/ec2-user/May/data/givenchy/pickle/infected_user_ids.dat',
                     'needcrawl': '/home/ec2-user/May/data/givenchy/pickle/needcrawl.dat',
                     'network': '/home/ec2-user/May/data/givenchy/pickle/network.dat',
                     'tweets': '/home/ec2-user/May/data/givenchy/pickle/tweets.dat',
                     'users': '/home/ec2-user/May/data/givenchy/pickle/users.dat'},
          'result': '/home/ec2-user/May/data/givenchy/result',
          'twitter': '/home/ec2-user/May/data/givenchy/twitter'},
 'save_to_file': 'False',
 'timeframe': '1440'}

In [2]:
n_bytes = 2**31
max_bytes = 2**31 - 1

path = "/home/ec2-user/May/data/givenchy/pickle"  

def write_to_pickle(file_path, data):

    bytes_out = pickle.dumps(data)
    with open(file_path, 'wb') as f_out:
        for idx in range(0, n_bytes, max_bytes):
            f_out.write(bytes_out[idx:idx+max_bytes])

def load_pickle(file_path):
    bytes_in = bytearray(0)
    input_size = os.path.getsize(file_path)
    with open(file_path, 'rb') as f_in:
        for _ in range(0, input_size, max_bytes):
            bytes_in += f_in.read(max_bytes)
    return pickle.loads(bytes_in)

def loadModel(self):
    read_file = "data/" + self.model_name + ".dat"
    self.model = joblib.load(read_file)
    return self.model

# Load data

In [3]:
model = joblib.load(path+"/xgb_model_GIVENCHY (2).dat")
unique_users = load_pickle(path+"/80000users_3.pkl")
network = load_pickle(path+"/80000users_3.pkl")
users=load_pickle(path+'/Stanford_features.pkl')
seeds = load_pickle(path+'/Stanford_seeds.pkl')

In [4]:
unique_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70013 entries, 0 to 70012
Data columns (total 14 columns):
user_favourites_count               70013 non-null int64
followers_count                     70013 non-null int64
friends_count                       70013 non-null int64
user_id                             70013 non-null int64
user_listed_count                   70013 non-null int64
user_statuses_count                 70013 non-null int64
source_candidates                   70013 non-null object
infec_candidates                    70013 non-null object
user_created_days                   70013 non-null int64
normalized_user_statuses_count      70013 non-null float64
normalized_user_followers_count     70013 non-null float64
normalized_user_favourites_count    70013 non-null float64
normalized_user_listed_count        70013 non-null float64
normalized_user_friends_count       70013 non-null float64
dtypes: float64(5), int64(7), object(2)
memory usage: 7.5+ MB

In [5]:
# ######## infec_candidates ########
# temp=[]
# infec = [temp for i in range(len(unique_users))]
# unique_users["infec_candidates"]= None
# record_num = int(network.describe().iloc[0,0])

# for i in range(record_num):
#     source_candidates = unique_users.loc[i,'source_candidates']
#     #users.loc[i,"infec_candidates"] = list()
#     for j in range(len(source_candidates)):
#         candidates = source_candidates[j]
#         if infec[candidates] == []:
#             infec[candidates]=[i]
#         else :
#             infec[candidates]+=[i]

# unique_users.loc[:,"infec_candidates"]=infec

# unique_users.head()

# reprocess_data

In [6]:
def reprocess_data(time,origins,infectors,users,unique_users):
        i= int(users[users.user_id.isin([origins])].index.values)
        j= int(users[users.user_id.isin([infectors])].index.values)
        source_candidates = unique_users.loc[j,'source_candidates']
        sources = [x for x in source_candidates if users.loc[x,'TwM_time']<=time]
        sources_time=users[users.index.isin(sources)].sort_values(by=['TwM_time'])
        sources_dataframe = unique_users.loc[sources]
        timeList =  [users.loc[x].TwM_tCurrent - users.loc[x].TwM_time for x in sources]
        degreeList = list(unique_users.loc[k, 'followers_count'] + unique_users.loc[k, 'friends_count']  for k in sources)
    
            
        m=sources_time.index.values[0]
        n=sources_time.index.values[-1]
        
        users.loc[j,'UsM_deltaDays0'] = users.loc[m,'UsM_deltaDays']
        users.loc[j,'UsM_statusesCount0'] = users.loc[m,'UsM_statusesCount']
        users.loc[j,'UsM_followersCount0'] = users.loc[m,'UsM_followersCount']
        users.loc[j,'UsM_favouritesCount0'] = users.loc[m,'UsM_favouritesCount']
        users.loc[j,'UsM_friendsCount0']=users.loc[m,'UsM_friendsCount']
        users.loc[j,'UsM_listedCount0']=users.loc[m,'UsM_listedCount']
        users.loc[j,'UsM_normalizedUserStatusesCount0']=users.loc[m,'UsM_normalizedUserStatusesCount']
        users.loc[j,'UsM_normalizedUserFollowersCount0']=users.loc[m,'UsM_normalizedUserFollowersCount']
        users.loc[j,'UsM_normalizedUserFavouritesCount0']=users.loc[m,'UsM_normalizedUserFavouritesCount']
        users.loc[j,'UsM_normalizedUserListedCount0']=users.loc[m,'UsM_normalizedUserListedCount']
        users.loc[j,'UsM_normalizedUserFriendsCount0']=users.loc[m,'UsM_normalizedUserFriendsCount']
        
        users.loc[j,'UsM_deltaDays-1'] = users.loc[n,'UsM_deltaDays']
        users.loc[j,'UsM_statusesCount-1'] = users.loc[n,'UsM_statusesCount']
        users.loc[j,'UsM_followersCount-1']=users.loc[n,'UsM_followersCount']
        users.loc[j,'UsM_favouritesCount-1']=users.loc[n,'UsM_favouritesCount']
        users.loc[j,'UsM_friendsCount-1']=users.loc[n,'UsM_friendsCount']
        users.loc[j,'UsM_listedCount-1']=users.loc[n,'UsM_listedCount']
        users.loc[j,'UsM_normalizedUserStatusesCount-1']=users.loc[n,'UsM_normalizedUserStatusesCount']
        users.loc[j,'UsM_normalizedUserFollowersCount-1']=users.loc[n,'UsM_normalizedUserFollowersCount']
        users.loc[j,'UsM_normalizedUserFavouritesCount-1']=users.loc[n,'UsM_normalizedUserFavouritesCount']
        users.loc[j,'UsM_normalizedUserListedCount-1']=users.loc[n,'UsM_normalizedUserListedCount']
        users.loc[j,'UsM_normalizedUserFriendsCount-1']=users.loc[n,'UsM_normalizedUserFriendsCount']
        
       
        users.loc[j,'TwM_t0'] = users.loc[m].TwM_tCurrent - users.loc[m,'TwM_time']
        users.loc[j,'TwM_tSeed0'] = users.loc[m,'TwM_tSeed0']
        users.loc[j,'TwM_t-1'] = users.loc[m].TwM_tCurrent - users.loc[n,'TwM_time']
        users.loc[j,'TwM_tSeed-1'] = users.loc[n,'TwM_tSeed-1']
        users.loc[j,'TwM_tCurrent'] =  np.ceil(time/30)*30
        
        
        users.loc[j,'Nw_degree0'] = users.loc[m,'Nw_degree']
        users.loc[j,'Nw_degree-1'] = users.loc[n,'Nw_degree']
        users.loc[j,'Nw_inDegree0'] = users.loc[m,'UsM_friendsCount']
        users.loc[j,'Nw_inDegree-1'] = users.loc[n,'UsM_friendsCount']
        users.loc[j,'Nw_outDegree0'] = users.loc[m,'UsM_followersCount']
        users.loc[j,'Nw_outDegree-1'] = users.loc[n,'UsM_followersCount']
        users.loc[j,'Nw_degreeSeed0'] = users.loc[m,'Nw_degreeSeed0']
        users.loc[j,'Nw_inDegreeSeed0'] = users.loc[m,'Nw_inDegreeSeed0']
        users.loc[j,'Nw_outDegreeSeed0'] = users.loc[m,'Nw_outDegreeSeed0']
        users.loc[j,'Nw_degreeSeed-1'] = users.loc[n,'Nw_degreeSeed-1']
        users.loc[j,'Nw_inDegreeSeed-1'] = users.loc[n,'Nw_inDegreeSeed-1']
        users.loc[j,'Nw_outDegreeSeed-1'] = users.loc[n,'Nw_outDegreeSeed-1']
        
        
        
        users.loc[j,'SNw_generation0'] = users.loc[m,'SNw_generation']
        users.loc[j,'SNw_generation-1'] = users.loc[n,'SNw_generation']
        users.loc[j,'SNw_timeSinceSeed0'] = users.loc[m,'SNw_timeSinceSeed0']
        users.loc[j,'SNw_timeSinceSeed-1'] = users.loc[n,'SNw_timeSinceSeed-1']
        users.loc[j,'SNw_totalNodesInfected'] = infect_totalNodeInfected(users)
        users.loc[j,'SNw_nodeInfectedCentrality'] = len(sources)/users.loc[j,'SNw_totalNodesInfected']
        users.loc[j,'SNw_totalInDegree'] = infect_totalFriends(users)
        users.loc[j,'SNw_totalOutDegree'] = infect_totalFollowers(users)
        users.loc[j,'SNw_inDegreeCentrality'] = safe_division(in_degree[j], users.loc[j,'SNw_totalInDegree'])
        users.loc[j,'SNw_inDegreeCentrality0'] = users.loc[m,'SNw_inDegreeCentrality']
        users.loc[j,'SNw_inDegreeCentrality-1'] = users.loc[n,'SNw_inDegreeCentrality']
        users.loc[j,'SNw_outDegreeCentrality'] = safe_division(out_degree[j], users.loc[j,'SNw_totalOutDegree'])
        users.loc[j,'SNw_outDegreeCentrality0'] = users.loc[m,'SNw_outDegreeCentrality']
        users.loc[j,'SNw_outDegreeCentrality-1'] = users.loc[n,'SNw_outDegreeCentrality']
        users.loc[j,'SNw_inDegreeCentralitySeed0'] = users.loc[m,'SNw_inDegreeCentralitySeed0']
        users.loc[j,'SNw_outDegreeCentralitySeed0'] = users.loc[m,'SNw_outDegreeCentralitySeed0']
        users.loc[j,'SNw_inDegreeCentralitySeed-1'] = users.loc[n,'SNw_inDegreeCentralitySeed-1']
        users.loc[j,'SNw_outDegreeCentralitySeed-1'] = users.loc[n,'SNw_outDegreeCentralitySeed-1']


        users.loc[j,'SNw_nFriendsInfected']=len(sources)
        users.loc[j,'SNw_friendsInfectedRatio']=safe_division(len(sources), unique_users.loc[j,'friends_count'])
            
        users.loc[j,'Stat_average_kOut']=round(mean(degreeList), 1)
        users.loc[j,'Stat_average_t']=round(mean(timeList), 1)
        users.loc[j,'Stat_average_deltaDays']=sources_dataframe.user_created_days.mean()
        users.loc[j,'Stat_average_statusesCount']=sources_dataframe.user_statuses_count.mean()
        users.loc[j,'Stat_average_followersCount']=sources_dataframe.followers_count.mean()
        users.loc[j,'Stat_average_favouritesCount']=sources_dataframe.user_favourites_count.mean()
        users.loc[j,'Stat_average_friendsCount']=sources_dataframe.friends_count.mean()
        users.loc[j,'Stat_average_listedCount']=sources_dataframe.user_listed_count.mean()
        users.loc[j,'Stat_average_normalizedUserStatusesCount']=sources_dataframe.normalized_user_statuses_count.mean()
        users.loc[j,'Stat_average_normalizedUserFollowersCount']=sources_dataframe.normalized_user_followers_count.mean()
        users.loc[j,'Stat_average_normalizedUserFavouritesCount']=sources_dataframe.normalized_user_favourites_count.mean()
        users.loc[j,'Stat_average_normalizedUserListedCount']=sources_dataframe.normalized_user_listed_count.mean()
        users.loc[j,'Stat_average_normalizedUserFriendsCount']=sources_dataframe.normalized_user_friends_count.mean()
        if len(degreeList)!=0 :
            users.loc[j,'Stat_max_kOut']=max(degreeList) 
            users.loc[j,'Stat_min_kOut']=min(degreeList) 
        else:
            users.loc[j,'Stat_max_kOut']=''
            users.loc[j,'Stat_min_kOut']=''
#         temp = users[users.index.isin(['j'])]
        return users

In [7]:
# intervals = [60, 30, 15, 7]
intervals = [30]

# Helper function for mean value calculation
def mean(numbers):
    return float(sum(numbers)) / max(len(numbers), 1)

def safe_division(x, y):
    if y == 0:
        return 0
    else:
        return x/y
    
# infectedNetworkStats = {}
# for interval in intervals:
#     statsDictionary = {}
#     for timestamp in range(0, 24*60+1, interval):
#         infected_dataframe = unique_users[unique_users.time_lapsed <= timestamp]
#         statsDictionary[timestamp] = {}
#         statsDictionary[timestamp]['totalNodeInfected'] = infected_dataframe.shape[0]
#         statsDictionary[timestamp]['totalFollowers'] = sum(infected_dataframe.followers_count)
#         statsDictionary[timestamp]['totalFriends'] = sum(infected_dataframe.friends_count)
#     infectedNetworkStats[interval] = statsDictionary

def infect_totalNodeInfected(users):
    infected_dataframe = users[users.TwM_time>=0]
    states = infected_dataframe.shape[0]
    return states

def infect_totalFollowers(users):
    infected_dataframe = users[users.TwM_time>=0]
    states = sum(infected_dataframe.UsM_followersCount)
    return states

def infect_totalFriends(users):
    infected_dataframe = users[users.TwM_time>=0]
    states = sum(infected_dataframe.UsM_friendsCount)
    return states

in_degree = list(unique_users.friends_count)
out_degree = list(unique_users.followers_count)
degree = [sum(x) for x in zip(in_degree, out_degree)]

In [8]:
network_simulation = pd.DataFrame(columns=["t_current","user_id","source_candidates","infec_candidates",
                                           "followers_count","friends_count","source_id","seed_user_id",
                                           "SIR","generations","time_lapsed","time_since_seed"])
# network_simulation["user"] =unique_users["user"]
network_simulation["user_id"] = unique_users["user_id"]
network_simulation["source_candidates"] = unique_users["source_candidates"]
network_simulation["infec_candidates"] = unique_users["infec_candidates"]
network_simulation["followers_count"] = unique_users["followers_count"]
network_simulation["friends_count"] = unique_users["friends_count"]
#network_simulation.head()
# network_simualtion = load_pickle(path+'/Stanford_network_simulation_0.6.pkl')

In [9]:

infeclen =[len(x) for x in network_simulation['infec_candidates']]
network_simulation['infeclen']=infeclen
network_simulation

,t_current,user_id,source_candidates,infec_candidates,followers_count,friends_count,source_id,seed_user_id,SIR,generations,time_lapsed,time_since_seed,infeclen
0,NaN,214328887,"[105, 62, 147, 148, 42, 124, 32, 10, 96, 18, 1...","[1, 83, 70, 16, 40, 4, 76, 113, 156, 75, 39, 6...",2090,46,NaN,NaN,NaN,NaN,NaN,NaN,147
1,NaN,34428380,"[0, 12, 11, 110, 33, 118, 167, 78, 18, 74, 90,...","[51, 34, 93, 9, 58, 72, 135, 149, 1801, 2947, ...",305257,181,NaN,NaN,NaN,NaN,NaN,NaN,33
2,NaN,17116707,"[18, 56, 52, 111, 153, 97, 38, 35, 31, 169, 20...","[3, 82, 125, 113, 39, 62, 116, 70, 124, 58, 14...",11756,498,NaN,NaN,NaN,NaN,NaN,NaN,77
3,NaN,28465635,"[2, 111, 36, 158, 83, 118, 179, 148, 65, 130, ...","[161, 38, 86, 76, 12, 84, 72, 141, 100, 8, 53,...",57992,1482,NaN,NaN,NaN,NaN,NaN,NaN,91
4,NaN,380580781,"[18, 96, 35, 0, 66, 32, 156, 75, 55, 54, 25, 4...","[5, 87, 51, 140, 33, 22, 72, 58, 47, 10, 83, 6...",15033,219,NaN,NaN,NaN,NaN,NaN,NaN,68
5,NaN,18996905,"[4, 64, 42, 173, 66, 155, 153, 112, 43, 156, 2...","[63, 129, 9, 1, 72, 4170, 14875, 18521, 14885,...",284075,68,NaN,NaN,NaN,NaN,NaN,NaN,32
6,NaN,221036078,"[148, 8, 83, 68, 46, 0, 124, 113, 116, 33, 31,...","[7, 72, 52, 81, 118, 114, 56, 86, 37, 53, 41, ...",2121,206,NaN,NaN,NaN,NaN,NaN,NaN,67
7,NaN,153460275,"[6, 115, 31, 23, 82, 62, 44, 18, 20, 173, 14, ...","[84, 75, 72, 1, 10, 125, 9, 5, 18471, 18503, 1...",4710,35,NaN,NaN,NaN,NaN,NaN,NaN,13
8,NaN,107830991,"[10, 61, 35, 28, 41, 56, 52, 3, 49, 113, 69, 9...","[9, 58, 20, 77, 54, 6, 31, 43, 165, 21, 153, 3...",11627,934,NaN,NaN,NaN,NaN,NaN,NaN,106
9,NaN,17868918,"[8, 87, 123, 20, 37, 16, 66, 95, 80, 111, 69, ...","[51, 39, 81, 93, 58, 122, 72, 144, 4159, 4170,...",16996,552,NaN,NaN,NaN,NaN,NaN,NaN,103
10,NaN,151338729,"[28, 50, 54, 112, 36, 20, 73, 71, 173, 69, 18,...","[11, 22, 63, 8, 35, 94, 33, 58, 83, 149, 23, 2...",41712,198,NaN,NaN,NaN,NaN,NaN,NaN,109
11,NaN,222261763,"[10, 84, 75, 23, 31, 137, 2, 74, 20, 105, 88, ...","[13, 27, 51, 42, 118, 1, 58, 127, 59, 129, 147...",5399,512,NaN,NaN,NaN,NaN,NaN,NaN,149
12,NaN,19705747,"[159, 62, 3, 61, 82, 87, 193, 146, 33, 165, 80...","[1, 51, 84, 58, 72, 4112, 16960, 4219, 22771, ...",669869,600,NaN,NaN,NaN,NaN,NaN,NaN,59
13,NaN,88323281,"[11, 24, 32, 154, 20, 135, 174, 97, 73, 108, 3...","[130, 139, 62, 1, 44, 57, 138, 86, 131, 120, 1...",20883,834,NaN,NaN,NaN,NaN,NaN,NaN,171
14,NaN,19933035,"[61, 36, 137, 31, 20, 52, 95, 18495, 18444, 17...","[15, 125, 81, 37, 33, 13, 3, 39, 9, 84, 115, 2...",652,120,NaN,NaN,NaN,NaN,NaN,NaN,41
15,NaN,149538028,"[14, 86, 49, 112, 61, 47, 41, 102, 70, 123, 0,...","[18, 21, 56, 62, 94, 16, 42, 58, 43, 96, 35, 5...",17797,255,NaN,NaN,NaN,NaN,NaN,NaN,151
16,NaN,158419434,"[83, 107, 0, 146, 42, 15, 37, 41, 62, 25, 10, ...","[17, 30, 70, 125, 9, 24, 73, 122, 59, 58, 180,...",14488,3531,NaN,NaN,NaN,NaN,NaN,NaN,87
17,NaN,17434613,"[16, 78, 131, 42, 109, 133, 110, 147, 45, 30, ...","[72, 132, 58, 92, 51, 74, 1, 84, 9806, 17025, ...",57400,212,NaN,NaN,NaN,NaN,NaN,NaN,13
18,NaN,153226312,"[15, 19, 60, 117, 74, 47, 53, 43, 135, 49, 8, ...","[22, 2, 4, 59, 34, 25, 118, 79, 123, 146, 112,...",13085,28,NaN,NaN,NaN,NaN,NaN,NaN,274
19,NaN,364971269,"[42, 109, 110, 158, 95, 4149, 18907, 4133, 184...","[18, 49, 130, 108, 1, 75, 24, 84, 31, 146, 72,...",537,252,NaN,NaN,NaN,NaN,NaN,NaN,38
20,NaN,100581193,"[31, 70, 41, 36, 8, 33, 87, 140, 147, 100, 18,...","[62, 25, 22, 38, 69, 10, 75, 111, 9, 13, 21, 1...",3444,11,NaN,NaN,NaN,NaN,NaN,NaN,239
21,NaN,69592091,"[61, 28, 79, 41, 105, 56, 127, 15, 27, 155, 20...","[88, 76, 165, 96, 73, 51, 23, 32, 86, 66, 125,...",40064,967,NaN,NaN,NaN,NaN,NaN,NaN,96
22,NaN,187773078,"[10, 18, 20, 78, 49, 41, 96, 61, 25, 23, 4, 70...","[122, 44, 47, 58, 51, 42, 37, 127, 33, 94, 27,...",10803,182,NaN,NaN,NaN,NaN,NaN,NaN,57
23,NaN,406628822,"[135, 21, 10, 18, 20, 37, 87, 137, 54, 68, 0, ...","[84, 53, 122, 83, 11, 58, 49, 28, 22, 94, 7, 2...",3616,268,NaN,NaN,NaN,NaN,NaN,NaN,110
24,NaN,460282402,"[138, 16, 108, 31, 42, 19, 85, 4133, 34128, 18...","[13, 73, 72, 100, 58, 84, 3, 5, 27, 135, 170, ...",237,68,NaN,NaN,NaN,NaN,NaN,NaN,19
25,NaN,280935165,"[20, 96, 18, 58, 111, 156, 69, 90, 59, 38, 76,...","[26, 42, 44, 122, 165, 72, 32, 70, 94, 22, 13,...",32706,124,NaN,NaN,NaN,NaN,NaN,NaN,138
26,NaN,437804658,"[25, 68, 124, 88, 76, 77, 18, 41, 100, 165, 32...","[51, 1, 105, 62, 39, 97, 96, 94, 49, 20, 58, 2...",1627,328,NaN,NaN,NaN,NaN,NaN,NaN,61
27,NaN,27633075,"[11, 88, 136, 96, 53, 42, 154, 130, 10, 23, 33...","[21, 39, 125, 94, 149, 5, 51, 84, 1, 58, 9, 93...",29557,233,NaN,NaN,NaN,NaN,NaN,NaN,21
28,NaN,285312927,"[23, 41, 135, 165, 68, 123, 105, 111, 147, 14,...","[10, 21, 8, 39, 88, 51, 5, 69, 94, 29, 81, 62,...",3700,59,NaN,NaN,NaN,NaN,NaN,NaN,41
29,NaN,131613362,"[49, 88, 66, 54, 114, 173, 20, 58, 84, 28, 55,...","[68, 122, 32, 51, 77, 140, 56, 53, 75, 81, 148...",11273,134,NaN,NaN,NaN,NaN,NaN,NaN,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69983,NaN,165153568,[35068],"[18900, 58, 69991, 1, 84, 72]",281,719,NaN,NaN,NaN,NaN,NaN,NaN,6
69984,NaN,59953940,[],"[18900, 58, 16960, 84, 69995, 16951]",445,273,NaN,NaN,NaN,NaN,NaN,NaN,6
69985,NaN,56222976,[],"[16951, 16960, 69995, 69982, 30281, 35068, 116...",163,280,NaN,NaN,NaN,NaN,NaN,NaN,8
69986,NaN,162157731,[70004],"[69982, 70006, 69987]",355,172,NaN,NaN,NaN,NaN,NaN,NaN,3
69987,NaN,152011250,"[69986, 70004]","[69988, 11609, 18900, 41049, 69982, 30281]",193,7,NaN,NaN,NaN,NaN,NaN,NaN,6
69988,NaN,134894667,[69987],[],121,220,NaN,NaN,NaN,NaN,NaN,NaN,0
69989,NaN,28016093,[],"[338, 16960, 69995, 58, 16985, 18900, 16951]",997,288,NaN,NaN,NaN,NaN,NaN,NaN,7
69990,NaN,137772184,[],"[30281, 338, 58, 1, 96, 4159, 84, 72, 11609, 8...",1353,178,NaN,NaN,NaN,NaN,NaN,NaN,12
69991,NaN,336218834,[69983],"[1, 84, 81, 69982, 35068, 18900, 4112, 58, 415...",202,199,NaN,NaN,NaN,NaN,NaN,NaN,12
69992,NaN,146229554,[],"[17309, 70009, 69997]",1709,234,NaN,NaN,NaN,NaN,NaN,NaN,3
69993,NaN,240895600,[],"[70001, 69997, 37887, 17309]",527,194,NaN,NaN,NaN,NaN,NaN,NaN,4
69994,NaN,49037471,[],"[69995, 16989, 16960, 16951]",175,94,NaN,NaN,NaN,NaN,NaN,NaN,4
69995,NaN,179167773,"[69994, 16989, 69985, 69989, 69984]","[16960, 16951, 16985]",713,543,NaN,NaN,NaN,NaN,NaN,NaN,3
69996,NaN,250733287,[],"[69997, 18900, 67288]",184,271,NaN,NaN,NaN,NaN,NaN,NaN,3
69997,NaN,281765007,"[69996, 69993, 70009, 70003, 69992]","[17309, 70001]",18654,152,NaN,NaN,NaN,NaN,NaN,NaN,2
69998,NaN,150319193,"[69985, 69982]","[30281, 35068, 11609, 18900]",2447,378,NaN,NaN,NaN,NaN,NaN,NaN,4
69999,NaN,218640513,"[69982, 70004]","[17309, 70006, 16960]",734,384,NaN,NaN,NaN,NaN,NaN,NaN,3
70000,NaN,61497784,[],"[84, 58, 70005, 72, 30281, 69981, 18900, 67288...",845,1011,NaN,NaN,NaN,NaN,NaN,NaN,10
70001,NaN,63135128,"[69981, 69993, 48381, 70002, 69997]",[67288],320353,1444,NaN,NaN,NaN,NaN,NaN,NaN,1
70002,NaN,206918348,[],"[338, 72, 70001, 69981]",103,191,NaN,NaN,NaN,NaN,NaN,NaN,4
70003,NaN,93641182,[35068],"[16989, 18900, 37887, 17309, 70008, 69997]",359,680,NaN,NaN,NaN,NaN,NaN,NaN,6
70004,NaN,53811382,[],"[69986, 69982, 70006, 69987, 41049, 69999, 70012]",454,361,NaN,NaN,NaN,NaN,NaN,NaN,7
70005,NaN,48108211,[70000],[],319075,308,NaN,NaN,NaN,NaN,NaN,NaN,0
70006,NaN,362077620,"[69986, 69999, 70004]","[67288, 69982, 4112, 16960, 84, 58, 1, 72, 17309]",453,104,NaN,NaN,NaN,NaN,NaN,NaN,9
70007,NaN,165498547,[],"[16960, 35068]",346,50,NaN,NaN,NaN,NaN,NaN,NaN,2
70008,NaN,253509115,"[70003, 57826]",[18900],1028,571,NaN,NaN,NaN,NaN,NaN,NaN,1
70009,NaN,63784655,[69992],"[17309, 69997, 18900]",427,336,NaN,NaN,NaN,NaN,NaN,NaN,3
70010,NaN,63503127,[],"[72, 18900, 1, 84, 58]",432,106,NaN,NaN,NaN,NaN,NaN,NaN,5
70011,NaN,75829996,[69991],"[84, 69982, 18900]",448,479,NaN,NaN,NaN,NaN,NaN,NaN,3
70012,NaN,148563360,[70004],[],161,59,NaN,NaN,NaN,NaN,NaN,NaN,0

In [10]:
##situation choose:
##a.全部为0   b.从0开始由小到大    c.从0开始由大到小


def seed_chosen():
    index_empty=[]
    for x in range(len(network_simulation)):
        if   math.isnan(network_simulation.loc[x,'generations'])==True :
            if network_simulation.loc[x,'infeclen']<150:
                index_empty.append(x)
    seeds_potential = network_simulation[network_simulation.index.isin(index_empty)]
#     print(seeds_potential)
    seeds_potential  = seeds_potential.sort_values(by='infeclen',ascending=False)
    seeds= seeds_potential.iloc[0:5]
#     print(seeds)
    return seeds

# infeclen =[len(x) for x in seeds['infec_candidates']]
# seeds['infeclen']=infeclen

# seeds = seeds.sort_values(by='infeclen',ascending=False)
# seeds = seeds.iloc[0:5]
# seeds['time_lapsed']=0
# seeds

In [11]:
### seeds ###
def seeds_setting_simulation(seeds,network_simulation):
    for i in range(len(seeds)):
        index = seeds.index.values
        network_simulation.loc[index,'SIR'] = 1
        network_simulation.loc[index,'generations'] = 0
        network_simulation.loc[index,'source_id'] = seeds.loc[index,'user_id']
        network_simulation.loc[index,'time_lapsed'] = seeds.loc[index,'time_lapsed']
        network_simulation.loc[index,'seed_user_id'] = seeds.loc[index,'user_id']
        network_simulation.loc[index,'time_since_seed'] = 0
    return network_simulation

active=20179
normalized_active= 7.211937

def seeds_setting_features(seeds,users):
    for i in range(len(seeds)):
        j = seeds.index.values[i]
#         sources = [x for x in seeds.loc[j,'source_candidates']]
         ###########################################################
        users.loc[j,'UsM_statusesCount'] =active
        users.loc[j,'UsM_normalizedUserStatusesCount']=normalized_active
        ###########################################################
        
        users.loc[j,'UsM_deltaDays0'] = users.loc[j,'UsM_deltaDays']
        users.loc[j,'UsM_statusesCount0'] = users.loc[j,'UsM_statusesCount']
        users.loc[j,'UsM_followersCount0']=users.loc[j,'UsM_followersCount']
        users.loc[j,'UsM_favouritesCount0']=users.loc[j,'UsM_favouritesCount']
        users.loc[j,'UsM_friendsCount0']=users.loc[j,'UsM_friendsCount']
        users.loc[j,'UsM_listedCount0']=users.loc[j,'UsM_listedCount']
        users.loc[j,'UsM_normalizedUserStatusesCount0']=users.loc[j,'UsM_normalizedUserStatusesCount']
        users.loc[j,'UsM_normalizedUserFollowersCount0']=users.loc[j,'UsM_normalizedUserFollowersCount']
        users.loc[j,'UsM_normalizedUserFavouritesCount0']=users.loc[j,'UsM_normalizedUserFavouritesCount']
        users.loc[j,'UsM_normalizedUserListedCount0']=users.loc[j,'UsM_normalizedUserListedCount']
        users.loc[j,'UsM_normalizedUserFriendsCount0']=users.loc[j,'UsM_normalizedUserFriendsCount']
        
        users.loc[j,'UsM_deltaDays-1'] = users.loc[j,'UsM_deltaDays']
        users.loc[j,'UsM_statusesCount-1'] = users.loc[j,'UsM_statusesCount']
        users.loc[j,'UsM_followersCount-1']=users.loc[j,'UsM_followersCount']
        users.loc[j,'UsM_favouritesCount-1']=users.loc[j,'UsM_favouritesCount']
        users.loc[j,'UsM_friendsCount-1']=users.loc[j,'UsM_friendsCount']
        users.loc[j,'UsM_listedCount-1']=users.loc[j,'UsM_listedCount']
        users.loc[j,'UsM_normalizedUserStatusesCount-1']=users.loc[j,'UsM_normalizedUserStatusesCount']
        users.loc[j,'UsM_normalizedUserFollowersCount-1']=users.loc[j,'UsM_normalizedUserFollowersCount']
        users.loc[j,'UsM_normalizedUserFavouritesCount-1']=users.loc[j,'UsM_normalizedUserFavouritesCount']
        users.loc[j,'UsM_normalizedUserListedCount-1']=users.loc[j,'UsM_normalizedUserListedCount']
        users.loc[j,'UsM_normalizedUserFriendsCount-1']=users.loc[j,'UsM_normalizedUserFriendsCount']
        
        users.loc[j,'TwM_t0'] =seeds.loc[j,'time_lapsed']
        users.loc[j,'TwM_t-1'] =seeds.loc[j,'time_lapsed']
        users.loc[j,'TwM_tCurrent'] = np.ceil(seeds.loc[j,'time_lapsed']+0.001/30)*30   
        users.loc[j,'TwM_tSeed0'] = seeds.loc[j,'time_lapsed']                         
        users.loc[j,'TwM_tSeed-1'] = seeds.loc[j,'time_lapsed']
        users.loc[j,'TwM_time'] = seeds.loc[j,'time_lapsed']

        users.loc[j,'Nw_degree0'] = users.loc[j,'Nw_degree']
        users.loc[j,'Nw_degree-1'] = users.loc[j,'Nw_degree']
        users.loc[j,'Nw_inDegree0'] = users.loc[j,'UsM_friendsCount']
        users.loc[j,'Nw_inDegree-1'] = users.loc[j,'UsM_friendsCount']
        users.loc[j,'Nw_outDegree0'] = users.loc[j,'UsM_followersCount']
        users.loc[j,'Nw_outDegree-1'] = users.loc[j,'UsM_followersCount']
        users.loc[j,'Nw_degreeSeed0'] = users.loc[j,'Nw_degree']    
        users.loc[j,'Nw_inDegreeSeed0'] = users.loc[j,'UsM_friendsCount'] 
        users.loc[j,'Nw_outDegreeSeed0'] = users.loc[j,'UsM_followersCount']
        users.loc[j,'Nw_degreeSeed-1'] = users.loc[j,'Nw_degree']
        users.loc[j,'Nw_inDegreeSeed-1'] = users.loc[j,'UsM_friendsCount']
        users.loc[j,'Nw_outDegreeSeed-1'] = users.loc[j,'UsM_followersCount']
        
        users.loc[j,'SNw_generation0'] = 0
        users.loc[j,'SNw_generation-1'] = 0
        users.loc[j,'SNw_generation'] = 0
        users.loc[j,'SNw_totalNodesInfected'] = infect_totalNodeInfected(users)
#         users.loc[j,'SNw_nodeInfectedCentrality'] = len(sources)/users.loc[j,'SNw_totalNodesInfected']
        users.loc[j,'SNw_totalInDegree'] = infect_totalFriends(users)
        users.loc[j,'SNw_totalOutDegree'] = infect_totalFollowers(users)
        users.loc[j,'SNw_inDegreeCentrality'] = safe_division(in_degree[j], users.loc[j,'SNw_totalInDegree'])
        users.loc[j,'SNw_inDegreeCentrality0'] = users.loc[j,'SNw_inDegreeCentrality']
        users.loc[j,'SNw_inDegreeCentrality-1'] = users.loc[j,'SNw_inDegreeCentrality']
        users.loc[j,'SNw_outDegreeCentrality'] = safe_division(out_degree[j], users.loc[j,'SNw_totalOutDegree'])
        users.loc[j,'SNw_outDegreeCentrality0'] = users.loc[j,'SNw_outDegreeCentrality']
        users.loc[j,'SNw_outDegreeCentrality-1'] = users.loc[j,'SNw_outDegreeCentrality']
        users.loc[j,'SNw_inDegreeCentralitySeed0'] = users.loc[j,'SNw_inDegreeCentrality']               
        users.loc[j,'SNw_outDegreeCentralitySeed0'] = users.loc[j,'SNw_outDegreeCentrality']                
        users.loc[j,'SNw_inDegreeCentralitySeed-1'] = users.loc[j,'SNw_inDegreeCentrality']                  
        users.loc[j,'SNw_outDegreeCentralitySeed-1'] = users.loc[j,'SNw_outDegreeCentrality']
    return users

In [12]:
# seeds_setting_simulation(seeds,network_simulation)
# seeds_setting_features(seeds,users)

In [13]:
network_simulation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70013 entries, 0 to 70012
Data columns (total 13 columns):
t_current            0 non-null object
user_id              70013 non-null int64
source_candidates    70013 non-null object
infec_candidates     70013 non-null object
followers_count      70013 non-null int64
friends_count        70013 non-null int64
source_id            0 non-null object
seed_user_id         0 non-null object
SIR                  0 non-null object
generations          0 non-null object
time_lapsed          0 non-null object
time_since_seed      0 non-null object
infeclen             70013 non-null int64
dtypes: int64(4), object(9)
memory usage: 6.9+ MB

In [14]:

def simulation(t,unique_users,network_simulation):
    for i in range(len(unique_users)):
        if np.isnan(network_simulation.loc[i,"time_lapsed"]) == False :
            if round(network_simulation.loc[i,"time_lapsed"]) <= t:
                infec_candidates=network_simulation.loc[i,"infec_candidates"]

                for j in range(len(infec_candidates)):
                    infector = network_simulation.loc[i,"infec_candidates"][j]

                    if network_simulation.loc[infector,'SIR']!=1 :
                        user_id1 = network_simulation.loc[i,'user_id']
                        user_id2 = network_simulation.loc[infector,'user_id']
                        processed_user=reprocess_data(t+1,user_id1,user_id2,users,unique_users)

                        valid = processed_user[processed_user.index.isin([infector])]
#                             print(valid['Stat_average_t'])
                        valid = valid.drop(['label','user_id','SNw_generation','TwM_time'],axis=1)

                        valid = valid.astype('float64')

                        columns = list(valid.columns)
                        X = valid[columns]
                        pre_data = xgb.DMatrix(X)
                        infec = model.predict(pre_data)
                        #print(infec)
                        if infec>0.6 :
                            users.loc[infector,'TwM_time'] = t
                            network_simulation.loc[infector,"SIR"] = 1
                            network_simulation.loc[infector,"generations"] = network_simulation.loc[i,"generations"]+1
                            network_simulation.loc[infector,"source_id"] = network_simulation.loc[i,"user_id"] 
                            network_simulation.loc[infector,"seed_user_id"] = network_simulation.loc[i,"seed_user_id"] 
                            network_simulation.loc[infector,"time_lapsed"] = t+1
            #             network_simulation.loc[i,"SIR"]=2 
    return unique_users,network_simulation

In [18]:
##time = 5*60 minutes with resuming, due to releasing memory
seeds_id = list(seeds.index.values)
for t in range(0,6):
    if t < 4 :
        seeds=seed_chosen()
        seeds['time_lapsed']=t
        seeds_setting_simulation(seeds,network_simulation)
        seeds_setting_features(seeds,users)
        for x in range(len(seeds.index.values)):
            seeds_id.append(seeds.index.values[x])
    temp_data=simulation(t,unique_users,network_simulation)
    unique_users = temp_data[0]
    network_simulation = temp_data[1]
    print(t)
    write_to_pickle(path+'/Stanford_network_simulation_Combined.pkl', network_simulation)

KeyboardInterrupt:

In [16]:
network_simulation["t_current"]=users["TwM_tCurrent"]
# network_simulation

In [17]:
x=[0,1,2,3,4,5]
network_simulation[network_simulation.generations.isin(x)]

,t_current,user_id,source_candidates,infec_candidates,followers_count,friends_count,source_id,seed_user_id,SIR,generations,time_lapsed,time_since_seed,infeclen
0,90,214328887,"[105, 62, 147, 148, 42, 124, 32, 10, 96, 18, 1...","[1, 83, 70, 16, 40, 4, 76, 113, 156, 75, 39, 6...",2090,46,214328887,214328887,1,0,2,0,147
1,30,34428380,"[0, 12, 11, 110, 33, 118, 167, 78, 18, 74, 90,...","[51, 34, 93, 9, 58, 72, 135, 149, 1801, 2947, ...",305257,181,158419434,254839786,1,2,3,NaN,33
2,30,17116707,"[18, 56, 52, 111, 153, 97, 38, 35, 31, 169, 20...","[3, 82, 125, 113, 39, 62, 116, 70, 124, 58, 14...",11756,498,158419434,254839786,1,2,3,NaN,77
3,30,28465635,"[2, 111, 36, 158, 83, 118, 179, 148, 65, 130, ...","[161, 38, 86, 76, 12, 84, 72, 141, 100, 8, 53,...",57992,1482,254839786,254839786,1,1,2,NaN,91
4,30,380580781,"[18, 96, 35, 0, 66, 32, 156, 75, 55, 54, 25, 4...","[5, 87, 51, 140, 33, 22, 72, 58, 47, 10, 83, 6...",15033,219,222261763,222261763,1,1,4,NaN,68
5,30,18996905,"[4, 64, 42, 173, 66, 155, 153, 112, 43, 156, 2...","[63, 129, 9, 1, 72, 4170, 14875, 18521, 14885,...",284075,68,158419434,254839786,1,2,3,NaN,32
6,30,221036078,"[148, 8, 83, 68, 46, 0, 124, 113, 116, 33, 31,...","[7, 72, 52, 81, 118, 114, 56, 86, 37, 53, 41, ...",2121,206,214328887,214328887,1,1,4,NaN,67
7,30,153460275,"[6, 115, 31, 23, 82, 62, 44, 18, 20, 173, 14, ...","[84, 75, 72, 1, 10, 125, 9, 5, 18471, 18503, 1...",4710,35,19933035,115363439,1,3,4,NaN,13
8,30,107830991,"[10, 61, 35, 28, 41, 56, 52, 3, 49, 113, 69, 9...","[9, 58, 20, 77, 54, 6, 31, 43, 165, 21, 153, 3...",11627,934,17116707,254839786,1,3,4,NaN,106
9,30,17868918,"[8, 87, 123, 20, 37, 16, 66, 95, 80, 111, 69, ...","[51, 39, 81, 93, 58, 122, 72, 144, 4159, 4170,...",16996,552,187773078,115363439,1,2,3,NaN,103
10,30,151338729,"[28, 50, 54, 112, 36, 20, 73, 71, 173, 69, 18,...","[11, 22, 63, 8, 35, 94, 33, 58, 83, 149, 23, 2...",41712,198,276577539,254839786,1,2,4,NaN,109
11,60,222261763,"[10, 84, 75, 23, 31, 137, 2, 74, 20, 105, 88, ...","[13, 27, 51, 42, 118, 1, 58, 127, 59, 129, 147...",5399,512,222261763,222261763,1,0,1,0,149
12,30,19705747,"[159, 62, 3, 61, 82, 87, 193, 146, 33, 165, 80...","[1, 51, 84, 58, 72, 4112, 16960, 4219, 22771, ...",669869,600,222261763,222261763,1,1,4,NaN,59
13,30,88323281,"[11, 24, 32, 154, 20, 135, 174, 97, 73, 108, 3...","[130, 139, 62, 1, 44, 57, 138, 86, 131, 120, 1...",20883,834,115363439,115363439,1,1,2,NaN,171
14,30,19933035,"[61, 36, 137, 31, 20, 52, 95, 18495, 18444, 17...","[15, 125, 81, 37, 33, 13, 3, 39, 9, 84, 115, 2...",652,120,276706356,115363439,1,2,3,NaN,41
15,30,149538028,"[14, 86, 49, 112, 61, 47, 41, 102, 70, 123, 0,...","[18, 21, 56, 62, 94, 16, 42, 58, 43, 96, 35, 5...",17797,255,157829215,461410856,1,2,4,NaN,151
16,30,158419434,"[83, 107, 0, 146, 42, 15, 37, 41, 62, 25, 10, ...","[17, 30, 70, 125, 9, 24, 73, 122, 59, 58, 180,...",14488,3531,254839786,254839786,1,1,2,NaN,87
17,30,17434613,"[16, 78, 131, 42, 109, 133, 110, 147, 45, 30, ...","[72, 132, 58, 92, 51, 74, 1, 84, 9806, 17025, ...",57400,212,158419434,254839786,1,2,4,NaN,13
18,30,153226312,"[15, 19, 60, 117, 74, 47, 53, 43, 135, 49, 8, ...","[22, 2, 4, 59, 34, 25, 118, 79, 123, 146, 112,...",13085,28,222261763,222261763,1,1,4,NaN,274
19,30,364971269,"[42, 109, 110, 158, 95, 4149, 18907, 4133, 184...","[18, 49, 130, 108, 1, 75, 24, 84, 31, 146, 72,...",537,252,223702895,115363439,1,2,3,NaN,38
20,30,100581193,"[31, 70, 41, 36, 8, 33, 87, 140, 147, 100, 18,...","[62, 25, 22, 38, 69, 10, 75, 111, 9, 13, 21, 1...",3444,11,461410856,461410856,1,1,3,NaN,239
21,30,69592091,"[61, 28, 79, 41, 105, 56, 127, 15, 27, 155, 20...","[88, 76, 165, 96, 73, 51, 23, 32, 86, 66, 125,...",40064,967,276706356,115363439,1,2,3,NaN,96
22,30,187773078,"[10, 18, 20, 78, 49, 41, 96, 61, 25, 23, 4, 70...","[122, 44, 47, 58, 51, 42, 37, 127, 33, 94, 27,...",10803,182,115363439,115363439,1,1,2,NaN,57
23,30,406628822,"[135, 21, 10, 18, 20, 37, 87, 137, 54, 68, 0, ...","[84, 53, 122, 83, 11, 58, 49, 28, 22, 94, 7, 2...",3616,268,100581193,461410856,1,2,4,NaN,110
25,30,280935165,"[20, 96, 18, 58, 111, 156, 69, 90, 59, 38, 76,...","[26, 42, 44, 122, 165, 72, 32, 70, 94, 22, 13,...",32706,124,195475105,115363439,1,2,3,NaN,138
26,30,437804658,"[25, 68, 124, 88, 76, 77, 18, 41, 100, 165, 32...","[51, 1, 105, 62, 39, 97, 96, 94, 49, 20, 58, 2...",1627,328,280935165,115363439,1,3,4,NaN,61
27,30,27633075,"[11, 88, 136, 96, 53, 42, 154, 130, 10, 23, 33...","[21, 39, 125, 94, 149, 5, 51, 84, 1, 58, 9, 93...",29557,233,254839786,254839786,1,1,2,NaN,21
28,30,285312927,"[23, 41, 135, 165, 68, 123, 105, 111, 147, 14,...","[10, 21, 8, 39, 88, 51, 5, 69, 94, 29, 81, 62,...",3700,59,229039814,254839786,1,2,4,NaN,41
29,30,131613362,"[49, 88, 66, 54, 114, 173, 20, 58, 84, 28, 55,...","[68, 122, 32, 51, 77, 140, 56, 53, 75, 81, 148...",11273,134,19933035,115363439,1,3,4,NaN,50
30,30,17675120,"[16, 96, 42, 138, 108, 90, 130, 131, 13, 1751,...","[74, 161, 17, 147, 18, 133, 36, 180, 112, 164,...",61808,63733,188108667,115363439,1,3,5,NaN,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69937,30,128097824,"[69931, 16554, 3758, 69938]","[27842, 69939, 19071, 69943, 3748]",92,88,15130614,11180212,1,2,5,NaN,5
69938,30,203654782,"[69952, 27811, 69932, 3770, 16539, 69945, 1655...","[69939, 3765, 3758, 3790, 3788, 3748, 16540, 1...",29130,41,14217740,24239110,1,2,5,NaN,12
69939,30,22542297,"[69938, 69944, 69958, 3758, 69937, 16539, 6993...","[3780, 3808, 16554, 27811, 69930, 16585, 19153...",839,658,15130614,11180212,1,2,5,NaN,23
69940,30,86415245,"[11500, 683, 19081, 3654, 3780, 69936, 3808, 1...","[3656, 734, 16539, 3770, 69931, 3779, 3810, 37...",455,353,14650791,11180212,1,3,5,NaN,43
69941,30,11268812,"[16556, 696, 69961, 69955, 678, 681, 11507, 69...","[698, 693, 3661, 3581, 69975, 2298]",43514,1318,16009851,11180212,1,3,5,NaN,6
69942,30,12514272,"[693, 696, 678, 16554, 69946, 699, 11507]","[16586, 677, 27842, 750, 3687, 681, 726, 698, ...",1740,1196,16009851,11180212,1,3,5,NaN,34
69943,30,12012472,"[3748, 69937, 69939, 16554, 3770]","[3790, 69935, 16613, 698, 66676, 12965, 750, 3...",61,177,14217740,24239110,1,2,5,NaN,22
69944,30,14148364,"[69935, 3748]","[3770, 69939, 828, 745, 69930, 11543, 3781, 69...",602,700,14208982,11180212,1,4,6,NaN,9
69946,30,14980792,"[678, 16554, 699, 681, 677, 693]","[27796, 16556, 721, 698, 696, 3633, 1587, 750,...",49343,652,16009851,11180212,1,3,5,NaN,21
69947,30,14618151,"[19081, 16539, 3765, 69960, 69939, 69952, 3770...","[27811, 3748]",276,4,14217740,24239110,1,2,5,NaN,2
69948,30,467259963,"[693, 34788, 11507, 11500, 3758]","[69931, 16616, 3748, 27811, 3781, 677, 721, 69...",4929,3929,15130614,11180212,1,2,5,NaN,24
69949,30,19946977,"[3748, 3770, 3641, 69935, 16554]","[828, 3364]",2234,717,14217740,24239110,1,2,5,NaN,2
69950,30,115151772,"[3758, 19081, 3770, 16554, 11500, 19071, 3780,...","[69952, 69936, 745, 69931, 69959, 69945]",170,33,15130614,11180212,1,2,5,NaN,6
69951,30,66793282,"[11500, 3808]","[683, 1581, 745, 3810]",70,74,52863597,11180212,1,4,6,NaN,4
69952,30,104980886,"[69936, 19081, 69950, 27811, 3770, 19071, 1653...","[3780, 69938, 69931, 69932, 3790, 69947, 745, ...",1758,1020,14217740,24239110,1,2,5,NaN,20
69955,30,31812497,"[69954, 69934, 681, 693, 27842, 69967, 69961, ...","[69941, 2583]",182522,217,22981384,24239110,1,2,5,NaN,2
69958,30,58937467,"[11500, 69940, 11513, 69931, 69948]","[27811, 69939, 34788, 3758, 1581]",530,119,14458660,11180212,1,2,4,NaN,5
69960,30,24961743,"[19081, 3758, 69952, 3765, 69931, 69936, 16539...","[69947, 19071, 3748, 3644, 69959]",1221,227,15130614,11180212,1,2,5,NaN,5
69962,30,178678731,"[693, 16554]","[3748, 750, 36820, 3790]",1279,77,12321512,11180212,1,4,6,NaN,4
69963,30,19120874,[16554],[69968],2732,413,123028422,24239110,1,5,6,NaN,1
69965,30,38303040,[16554],"[69966, 683]",23795,854,123028422,24239110,1,5,6,NaN,2
69966,30,13613292,"[69965, 69933]",[],75947,1564,24668736,11180212,1,3,6,NaN,0
69969,30,16949066,"[3748, 19081, 3770, 69952, 3780, 3758]",[],35,56,14650791,11180212,1,3,5,NaN,0
69975,30,247021123,[69941],[],951,70,11268812,11180212,1,4,6,NaN,0
69976,30,108412404,[69931],[],333,47,9631832,24239110,1,3,6,NaN,0
69981,30,148062502,"[24768, 48381, 70002, 70000]","[70001, 11609, 30281, 35068, 18900, 72]",2972,275,194403468,115363439,1,2,5,NaN,6
69983,30,165153568,[35068],"[18900, 58, 69991, 1, 84, 72]",281,719,196429355,115363439,1,2,3,NaN,6
69995,30,179167773,"[69994, 16989, 69985, 69989, 69984]","[16960, 16951, 16985]",713,543,46941766,115363439,1,4,6,NaN,3
70001,30,63135128,"[69981, 69993, 48381, 70002, 69997]",[67288],320353,1444,154263215,115363439,1,4,5,NaN,1
70003,30,93641182,[35068],"[16989, 18900, 37887, 17309, 70008, 69997]",359,680,196429355,115363439,1,2,6,NaN,6